[submodule "shadowlack-wiki"]
	path = public/wiki
	url = https://github.com/shriker/shadowlack-wiki.git
[submodule "public/wiki"]
	path = public/wiki
	url = https://github.com/shriker/shadowlack-wiki.git
